<template>
  <main>
    <section v-if="!started">
      <h1>TECDParty Starts in</h1>
      <article>
        <h2>{{timeLeft.days}}</h2>
        <h3>{{dayLabel}}</h3>
      </article>
      <article>
        <h2>{{timeLeft.hours}}</h2>
        <h3>{{hourLabel}}</h3>
      </article>
      <article>
        <h2>{{timeLeft.minutes}}</h2>
        <h3>{{minuteLabel}}</h3>
      </article>
      <article>
        <h2>{{timeLeft.seconds}}</h2>
        <h3>{{secondLabel}}</h3>
      </article>
    </section>
    <section v-else>
      <h1>TECDParty is Started</h1>
    </section>
  </main>
</template>

<script>
import moment from 'moment'
export default {
  data() {
    return {
      timeLeft: {
        days: null,
        hours: null,
        minutes: null,
        seconds: null,
      },
      targetDate: null,
      started: false,
      raf: null,
    }
  },
  computed: {
    dayLabel() {
      return this.timeLeft.days === 1 ? 'Day' : 'Days'
    },
    hourLabel() {
      return this.timeLeft.hours === 1 ? 'Hour' : 'Hours'
    },
    minuteLabel() {
      return this.timeLeft.minutes === 1 ? 'Minute' : 'Minutes'
    },
    secondLabel() {
      return this.timeLeft.seconds === 1 ? 'Second' : 'Seconds'
    }
  },
  methods: {
    update() {
      this.raf = window.requestAnimationFrame(this.update.bind(this))
      const difference = this.targetDate.diff(moment())
      const duration = moment.duration(difference)
      this.timeLeft.days = duration.days()
      this.timeLeft.hours = duration.hours()
      this.timeLeft.minutes = duration.minutes()
      this.timeLeft.seconds = duration.seconds()
      this.started = difference < 0;
    }
  },
  mounted() {
    this.targetDate = moment('2018 06 08 21', 'YYYY MM DD HH')
    this.raf = window.requestAnimationFrame(this.update.bind(this))
  },
  destroyed() {
    window.cancelAnimationFrame(this.raf)
  }
}
</script>

<style>
  main {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100vh;
  }

  section {
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
  }

  h1 {
    width:100%;
    text-align:center;
    margin-bottom:1rem;
  }

  article {
    width:25%;
    padding:0.5rem;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-flow:column nowrap;
  }

  h2 {
    background-color:#333;
    color:white;
    border-radius: 0.5rem;
    padding:1rem;
    width:min-content;
    margin-bottom:1rem;
  }
  h3 {
    color:#666;
    font-weight:lighter;
    text-transform:uppercase;
    letter-spacing:0.05rem;
  }
</style>
